:root.theme-light {
  --background: url("../images/cover-image-light.png");
  --accent-color: rgba(255, 141, 203, 1);
  --background-color: rgba(255, 241, 247, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-color: rgba(53, 52, 48, 1);
}

.theme-light .decoration-lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: url("../images/cover-image-light.png");
    --accent-color: rgba(255, 141, 203, 1);
    --background-color: rgba(255, 241, 247, 1);
    --title-color: rgba(241, 178, 206, 1);
    --text-color: rgba(53, 52, 48, 1);
  }

  .decoration-lamp {
    display: none;
  }
}
